.vercel
.idea/
.env
.env.local
.env.staging
.env.production

config/.env

# ignore air (live reload) files
.air.toml
tmp

# ignore git files
.git

# ignore build files
/build

# test files
coverage.*

# seeders
data/seeders/prod
